body {
	text-align: center;
	min-width: 1000px;
	height: 100%;
}

/*垂直向上滚动弹出搜索框，logo淡入动画*/
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*查看更多箭头上下移动动画*/
@keyframes seemore {
	0% {
		top: 8px;
	}
	50% {
		top: 19px;
	}
	100% {
		top: 8px;
	}
}

@-webkit-keyframes seemore {
	0% {
		top: 8px;
	}
	50% {
		top: 19px;
	}
	100% {
		top: 8px;
	}
}

@-moz-keyframes seemore {
	0% {
		top: 8px;
	}
	50% {
		top: 19px;
	}
	100% {
		top: 8px;
	}
}

@-o-keyframes seemore {
	0% {
		top: 8px;
	}
	50% {
		top: 19px;
	}
	100% {
		top: 8px;
	}
}


#wrapper {
    height: 100%;
}

#head {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 768px;
}

#s_top_wrap {
    position: absolute;
    z-index: 99px;
    min-width: 1000px;
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #ebebeb;
}

#s_top_wrap.s-down {
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    height: 74px;
    z-index: 10;
    width: 100%;
}

#s_top_wrap.s-down .s-center-box {
	box-shadow: 0 0 5px #888;
	border-bottom: 1px solid #888\9;
	_border-bottom: 0;
	background-image: linear-gradient(rgba(255, 255, 255, .95) 0, rgba(255, 255, 255, .95) 100%) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.95)),to(rgba(255,255,255,.95))) !important;
    background-image: -moz-linear-gradient(rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 100%) !important;
    background-image: -ms-linear-gradient(rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 100%) !important;
    background-image: -o-linear-gradient(rgba(255,255,255,.95) 0,rgba(255,255,255,.95) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2ffffff,endColorstr=#f2ffffff) !important;
}

.s-top-wrap .s-center-box {
    position: relative;
    z-index: 1;
    width: 100%;
    _width: 1000px;
    height: 100%;
}

.s-top-wrap .s-top-nav {
    position: absolute;
    top: 74px;
    width: 100%;
    _width: 1000px;
    height: 40px;
    overflow: hidden;
    display: none;
}

#s_menu_gurd.s-down {
	margin-top: 40px;
	background-image: linear-gradient(rgba(248, 248, 248, .95) 0, rgba(248, 248, 248, .95) 100%) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(248, 248, 248, .95)),to(rgba(248, 248, 248, .95))) !important;
    background-image: -moz-linear-gradient(rgba(248, 248, 248, .95) 0,rgba(248, 248, 248, .95) 100%) !important;
    background-image: -ms-linear-gradient(rgba(248, 248, 248, .95) 0,rgba(248, 248, 248, .95) 100%) !important;
    background-image: -o-linear-gradient(rgba(248, 248, 248, .95) 0,rgba(248, 248, 248, .95) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f8f8f8,endColorstr=#f2f8f8f8) !important;
}

#s_menu_gurd.s-down .s-ctner-menus {
    height: 39px;
    line-height: 40px;
    border: none;
    width: 895px;
}


/*右上角导航菜单样式*/
#u_sp {
    z-index: 500;
    position: absolute;
    top: 0;
    right: 0;
    width: 590px;
    font-size: 13px;
    text-align: right;
    color: #999;
}

.s-sp-menu a {
    position: relative;
    height: 32px;
    line-height: 32px;
    margin-left: 19px;
    color: #555;
    text-decoration: underline;
    outline: none;
    display: inline-block;
    text-shadow: none;
}

.s-sp-menu .mnav {
    font-weight: bold;
}

.s-user-set-menu.menu-top {
    width: 70px;
}

.s-user-set-menu {
    padding-top: 6px;
    top: 26px;
    position: absolute;
    right: 84px;
    float: right;
    width: 100px;
    z-index: 999;
    text-align: left;
}

.s-user-set-menu div {
    position: relative;
    border: 1px solid #E3E3E3;
    box-shadow: 1px 1px 5px #d1d1d1;
    -moz-box-shadow: 1px 1px 5px #d1d1d1;
    -webkit-box-shadow: 1px 1px 5px #d1d1d1;
}

.s-user-set-menu a {
    text-decoration: none;
    height: 25px;
    line-height: 25px;
    padding-left: 8px;
    background-color: #fff;
    -moz-user-select: none;
    cursor: pointer;
    text-align: left;
    display: block;
    color: #333;
    margin: 0;
    font-size: 12px;
}

.s-user-set-menu a:hover {
    background-color: #398bfb;
    color: #fff;
}

.s-user-set-menu .menu-arrow {
    position: absolute;
    z-index: 2;
    top: -4px;
    left: 28px;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed transparent;
    border-bottom: 5px solid #e3e3e3;
    font-size: 0;
}

.s-user-set-menu .menu-arrow em {
    position: absolute;
    top: -4px;
    left: -5px;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    color: #666;
    border-top: 5px dashed transparent;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-bottom: 5px solid #fff;
}


#u_sp .s_bri {
    width: 86px;
    height: 32px;
    line-height: 32px;
    color: white;
    background: #398bfb;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #398bfb;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

#u_sp .s_bdbri {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 85px;
    min-height: 100px;
    border-left: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    overflow: hidden;
    text-shadow: none;
}

#u_sp .s_bdbriimgtitle {
    color: #333;
    text-align: center;
    width: 66px;
    height: 30px;
    line-height: 34px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-bottom: #f0f0f0 1px solid;
    font-size: 13px;
    cursor: default;
}

#u_sp .s_briscrollwrapperContainer {
    position: relative;
}

#u_sp .s_briscrollwrapper {
    overflow: hidden;
    position: relative;
}

#u_sp .s_bdbriwrapper a {
    display: block;
    text-align: center;
    width: 66px;
    height: 76px;
    margin: 0 auto;
    font-size: 12px;
    border-bottom: #f0f0f0 1px solid;
    color: #666;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    line-height: 14px;
    position: relative;
}

#u_sp .s_bdbriwrapper a img {
    display: block;
    height: 36px;
    width: auto;
    margin: 10px auto 5px;
    cursor: pointer;
}

#u_sp .s_bdbriwrapper .s_bdbrievenmore {
    margin-top: 15px;
    height: 30px;
    width: 85px;
    overflow: hidden;
}
/*头部样式，包括logo和搜索框*/
#head_wrapper {
    position: relative;
    z-index: 2;
    height: 38.2%;
    min-height: 293px;
    width: 1000px;
    margin: 0 auto;
    _height: 293px;
}

#head_wrapper.s-down {
    position: fixed;
    _position: static;
    top: 0;
    left: 50%;
    height: 50px;
    min-height: 50px;
    z-index: 20;
    width: 802px;
    padding-top: 9px;
    margin-left: -447px;
    _margin: 0 auto;
}

#head_wrapper.s-down .s-p-top {
    display: none;
}
/*搜索框样式*/
#head_wrapper.s-down .s_form {
    min-width: 550px;
    margin: 0;
    width: 100%;
    height: 100%;
}

#head_wrapper.s-down .s_form_wrapper {
    width: 805px;
}

#head_wrapper.s-down .fm {
    margin: 8px 0 0 25px;
}

#head_wrapper.s-down .fm, #head_wrapper.s-down #result_logo {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}


.s-down .s_form {
    padding-left: 0;
    margin-top: 0;
    min-height: 0;
}

.s_form {
    width: 641px;
    height: 100%;
    min-height: 293px;
    margin: 0 auto 0 auto;
    text-align: left;
    z-index: 100;
    font-size: 0px;
}

.s_form_wrapper {
    height: 100%;
    
}

#head_wrapper .s-p-top {
    height: 61.8%;
    min-height: 181px;
    position: relative;
    z-index: 0;
    text-align: center;
}
/*logo样式*/
#s_lg_img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -135px;
}

#result_logo {
    display: none;
}

#head_wrapper.s-down #result_logo img {
    width: 101px;
}

#head_wrapper.s-down #result_logo {
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
}

.s_ipt_wr,
.s_btn_wr {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

#kw {
    width: 521px;
    height: 20px;
    padding: 9px 7px;
    font: 16px arial;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    border-right: none;
    vertical-align: top;
    outline: none;
    box-shadow: none;
    margin: 0;
}

.s_btn_wr {
    width: 102px;
    height: 38px;
    border: 1px solid #38f;
    border-bottom: 1px solid #2e7ae5;
    background-color: #38f;
    /*margin-left: -3px;*/
}

.s-title-img .btn {
    cursor: pointer;
    width: 102px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}


/*主体内容样式*/

#s_wrap {
    width: 100%;
    _width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    min-width: 100px;
}

#s_main {
    position: relative;
    margin: 0 auto;
    width: 895px;
}

.clearfix {
    zoom: 1;
}

.s-mancacrd-main {
    position: relative;
    z-index: 2;
}
/*中部标签切换样式*/
.s-menu-gurd,
.s-menu-container {
    width: 100%;
    min-height: 35px;
    _height: 35px;
}


/*“我的关注”样式*/


#s_menus_wrapper {   
	font-size: 0px;  /*去除inline-block元素间隙*/
}

.s-ctner-menus .s-menu-item {
    color: #333;
    width: 80px;
    height: 39px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    cursor: pointer;
    font-size: 14px;
}

.s-ctner-menus .s-menu-item:hover {
    background-color: #BCBCBC;
    margin-bottom: -1px;
    margin-top: -1px;
    border-top: 1px solid #BCBCBC;
    border-bottom: 1px solid #BCBCBC;
    color: #fff;
    background-image: none !important;
    filter: none !important;
}

.s-ctner-menus {
    position: relative;
    z-index: 11111;
    width: 893px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    border: 1px solid #e9e9e9;
    border-bottom: none;
    height: 39px;
    line-height: 39px;
}

.s-menu-gurd .s-ctner-menus .s-menu-mine,
.s-ctner-menus .s-menu-mine .mine-icon,
.s-ctner-menus .s-menu-mine .mine-text {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

.s-menu-gurd .s-ctner-menus .s-menu-mine {
    float: left;
    text-align: left;
    width: 124px;
}

.s-ctner-menus .s-menu-mine .mine-icon {
    width: 20px;
    height: 18px;
    margin: 11px 0 0 20px;
    background: url(../images/card_setts_fdb.png) no-repeat -15px 0;
    _background: url(../images/card_setts_fdb.png) no-repeat -15px 0;
}

.s-ctner-menus .s-menu-item:hover .mine-icon, .s-ctner-menus .current .mine-icon {
	background: url(../images/card_setts_fdb.png) no-repeat -144px 0;
    _background: url(../images/card_setts_fdb.png) no-repeat -144px 0;
}



.s-ctner-menus .s-menu-mine .mine-text {
    height: 100%;
    margin-left: 3px;
}


/*中间导航部分的样式*/

.s-ctner-menus .s-menus-outer {
    width: 719px;
    float: left;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: stretch;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    -moz-align-items: stretch;
    display: -ms-flex;
    -ms-flex-flow: row wrap;
    -ms-align-items: stretch;
}

.s-ctner-menus .menus-wrapper,
.s-ctner-menus .s-menu-setting {
    display: inline-block;
    zoom: 1;
    float: left;
    vertical-align: top;
    height: 100%;
}

.s-ctner-menus .s-menus-outer .menus-wrapper {
    width: auto;
    text-align: center;
}

.s-ctner-menus .current,
.s-ctner-menus .current:hover {
    _position: relative;
    background-color: #9a9da2 !important;
    font-weight: bold;
    color: #fff;
    background-image: none !important;
    filter: none !important;
    margin-bottom: -1px;
    margin-top: -1px;
    border-top: 1px solid #9a9da2;
    border-bottom: 1px solid #9a9da2;
}

.s-ctner-menus .s-menus-outer .s-bg-space {
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
    height: 38px;
}


/*自定义设置按钮的样式*/

.s-ctner-menus .s-menu-setting {
    height: 39px;
    float: right;
    width: 18px;
    padding: 0 21px 0 11px;
    cursor: pointer;
}

.s-ctner-menus .menu-icon {
    width: 100%;
    height: 18px;
    margin-top: 11px;
    overflow: hidden;
    background: url(../images/card_setts_fdb.png) no-repeat -121px -49px;
}


/*内容显示区样式*/

.s-ctner-contents {
    width: 893px;
    min-height: 363px;
    _height: 363px;
    _overflow: visible;
    border: 1px solid #e9e9e9;
}

.s-more-bar {
    width: 90px;
    height: 45px;
    padding-top: 20px;
    margin: 0 auto;
    cursor: pointer;
    color: #999;
}

.s-ctner-contents .s-more-up {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    margin-left: -45px;
    padding-top: 0;
}

.s-ctner-contents .s-more-up .load-text {
    display: none;
}

.s-ctner-contents .s-more-up .rect {
    position: absolute;
    bottom: 0;
    _bottom: 2px;
    left: 50%;
    width: 57px;
    margin-left: -28px;
    font-size: 0;
    height: 32px;
    vertical-align: bottom;
    background: url(../images/more_up_bg.png) no-repeat;
    _background: url(../images/more_up_bg.png) no-repeat;
}

.s-ctner-contents .s-more-up .rect .animate-arrow {
    display: block;
    height: 13px;
    width: 22px;
    margin: 0 auto;
    position: relative;
    /*top: 10px;*/
    background: url(../images/card_setts_fdb.png) no-repeat -114px -2px;
    _background: url(../images/card_setts_fdb.png) no-repeat -114px -2px;
    font-size: 0;
    animation: seemore 1.7s infinite;
    -webkit-animation: seemore 1.7s infinite;
    -moz-animation: seemore 1.7s infinite;
    -o-animation: seemore 1.7s infinite;
}

.s-ctner-contents .s-loading {
    height: 53px;
    width: 95%;
    padding-top: 11px;
    margin: 0 auto;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
}


/*我的导航部分样式*/

.s-xmancard-mine {
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 21px;
}

.s-xmancard {
    min-height: 318px;
    _height: 318px;
}
/*我的关注显示块样式*/
.s-code-blocks {
    position: relative;
    width: 100%;
    margin: 13px 0 10px 0;
    _margin-bottom: 5px;
    background: url(../images/blank.png?__sprite) repeat;
    _overflow: hidden;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    _border: 0;
    _margin-top: 13px;
}

.s-block-nav .s-block-container {
    width: 844px;
    overflow: hidden;
    margin: 0 auto;
}

.s-code-blocks .s-mblock-title {
    position: relative;
    z-index: 0;
    height: 30px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding-bottom: 6px;
}

.s-code-blocks .title-content {
    height: 100%;
    line-height: 30px;
    cursor: pointer;
}

.mine-title .mine-title-icon,
.mine-title .mine-title-text,
.mine-title .mine-title-num {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.s-code-blocks .title-content .mine-title .mine-title-icon {
    position: relative;
    z-index: 0;
    font-size: 0;
    height: 10px;
    width: 10px;
    margin-right: 6px;
}

.s-code-blocks .title-content .mine-title .mine-title-text {
    line-height: 30px;
    _line-height: 35px;
    height: 30px;
    font-weight: bold;
    margin-right: 4px;
}

.s-code-blocks .title-content .mine-title .mine-title-num {
    _line-height: 27px;
    height: 30px;
    color: #666;
}

.s-code-blocks .title-content .mine-title .mine-title-icon em {
    position: absolute;
    top: 3px;
    left: 0;
    height: 0;
    line-height: 0;
    width: 0;
    font-size: 0;
    border: 5px dashed transparent;
    border-top: 5px solid #666;
}

.s-mblock-up .title-content .mine-title .mine-title-icon em {
    top: 0;
    left: 3px;
    border-top: 5px dashed transparent;
    border-left: 5px solid #666;
}


/*鼠标经过“添加” “返利” “置顶” 等样式*/

.s-code-blocks .s-setbar {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

.s-code-blocks .s-setbar .set-bar-content {
    height: 100%;
    text-align: right;
    float: right;
    margin: 0 auto;
}

.s-code-blocks .set-menu {
    height: 100%;
    text-align: right;
}

.s-code-blocks .s-setbar .set-btn {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    vertical-align: middle;
    width: 30px;
    margin-left: 16px;
    text-align: right;
}

.set-menu .set-add {
    padding-top: 2px;
}

.set-menu .set-edit {
    padding-top: 2px;
}

.s-code-blocks .s-setbar .fanli-class {
    width: 77px;
    height: 30px;
    line-height: 30px;
}

.set-menu .set-totop {
    padding-top: 2px;
}

.s-block-nav .s-mblock-title .edit-add .add-icon,
.s-block-nav .s-mblock-title .edit-class .class-icon,
.s-block-nav .s-mblock-title .fanli-class .class-icon {
	display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 14px;
    width: 14px;
    margin-right: 7px;
    font-size: 0;
    background: url(../images/mine_set.png) no-repeat -68px -13px;
    _background: url(../images/mine_set.png) no-repeat -68px -13px;
}

.s-code-blocks .s-setbar .edit-class span, .s-code-blocks .s-setbar .fanli-class span {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 30px;
    line-height: 29px;
}

.s-block-nav .s-mblock-content {
	text-align: left;
	position: relative;
	width: 850px;
	border-top: 1px solid #f0f0f0;
	padding-bottom: 15px;
	font-size: 14px;
}

.s-block-nav .nav-blank {
	position: relative;
	height: 50px;
	width: 100%;
	background: url(../images/s_nav_blank.png) no-repeat 254px 23px;
	_background: url(../images/s_nav_blank.png) no-repeat 254px 23px;
}

.s-block-nav .add-nav {
	cursor: pointer;
	width: 52px;
	height: 22px;
	position: absolute;
	left: 504px;
	top: 22px;
}

/*“自定义”样式*/

.s-xmancard-mine .tips-manager-area {
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin-top: 13px;
	position: relative;
}

.s-xmancard-mine .tips-manager-btn {
	height: 30px;
	width: 60px;
	line-height: 30px;
	margin-left: 25px;
	cursor: pointer;
}

.s-xmancard-mine .tips-manager-btn .manager-btn-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	font-size: 0;
	background: url(../images/mine_set.png) no-repeat 0 0;
	_background: url(../images/mine_set.png) no-repeat 0 0;
}

.s-xmancard-mine .tips-manager-btn .manager-btn-text {
    font-size: 14px;
    color: #333;
    padding-left: 3px;
}

/*“推荐”显示内容样式*/

.s-xmancard-news {
    position: relative;
    width: 843px;
    padding: 0 25px 0 25px;
}

.s-news-rank-wrapper {
    position: absolute;
    right: 5px;
    width: 300px;
    margin-top: 20px;
    text-align: left;
}

/*“实时热点”标题头样式*/

.s-news-rank-wrapper .s-rank-title {
    height: 30px;
    width: 270px;
}

.s-news-rank-wrapper .s-rank-title .title-text {
    float: left;
    height: 22px;
    width: 94px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: bold;
}

.s-news-rank-wrapper .s-rank-title .title-text a {
    text-decoration: none;
    color: #333;
}

.s-news-rank-wrapper .s-rank-title .hot-refresh {
    display: block;
    float: right;
    height: 22px;
    padding-top: 3px;
    width: 60px;
    cursor: pointer;
}

.s-news-rank-wrapper .s-rank-title .hot-refresh-icon {
	display: inline-block;
	width: 20px;
	height: 16px;
	background: url(../images/news.png) no-repeat -23px -25px;
	_background: url(../images/news.png) no-repeat -23px -25px;
	vertical-align: bottom;
}

.s-news-rank-wrapper .s-rank-title .hot-refresh-text {
    font-size: 13px;
    width: 40px;
    text-align: center;
    white-space: nowrap;
    margin-left: -3px;
}

/*实时热点菜单栏样式*/
.s-news-rank-wrapper .s-news-rank-content {
    position: relative;
    list-style: disc;
}

.news-meta-item {
    width: 145px;
    /*margin-right: 3px;*/
    display: inline-block;
    zoom: 1;
    list-style: square;
}

.news-meta-item .news-icon, .news-meta-item .news-title {
	display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
}

.news-meta-item .news-icon {
    height: 3px;
    width: 3px;
    background: #666;
    text-align: center;
    margin-right: 4px;
    font-size: 0;
}

.news-meta-item .news-title .title-link {
    float: left;
    display: block;
    font-size: 14px;
}

.news-meta-item .news-title .title-link .title-content, .news-meta-item .news-title .new-identity {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.news-meta-item .news-title .title-link .title-content {
    max-width: 113px;
    _width: 113px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}

.news-meta-item .news-title .title-link .title-content:hover {
	color: #38f;
}

/*标题图片新闻内容样式*/
.s-xmancard-news .news-flash-tips {
    width: 100%;
    height: 38px;
    text-align: left;
}

.s-xmancard-news .news-flash-tips .left-line, .s-xmancard-news .news-flash-tips .right-line, .s-xmancard-news .news-flash-tips .tips-content, .s-xmancard-news .news-flash-tips .tips-icon, .s-xmancard-news .news-flash-tips span {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.s-xmancard-news .news-flash-tips .left-line, .s-xmancard-news .news-flash-tips .right-line {
    height: 0;
    width: 172px;
    font-size: 0;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 21px;
}

.s-xmancard-news .news-flash-tips .tips-content {
    width: 187px;
    padding-top: 21px;
    margin: 0 auto;
}

.s-xmancard-news .news-flash-tips .tips-icon {
    height: 14px;
    width: 12px;
    margin: 0 6px 0 6px;
    background: url(../images/news.png) no-repeat -45px -1px;
    _background: url(../images/news.png) no-repeat -45px -2px;
}

.s-xmancard-news .news-flash-tips span {
    font-size: 13px;
    color: #999;
    color: rgba(0, 0, 0, .4);
}

.s-news-wrapper .s-news-list-wrapper {
    float: left;
    text-align: left;
    width: 538px;
    _padding-right: none;
}

.s-news-wrapper .s-news-list-wrapper:first-child {
    padding-top: 0;
}

.s-news-wrapper .s-news-list-wrapper:first-child .s-news-item:first-child {
    border-top: 0;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item-tpl-1 {
    min-height: 210px;
    _height: 210px;
    overflow: visible;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item h2 {
    position: relative;
    z-index: 0;
    font-size: 18px;
    font-weight: normal;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item-tpl-1 h2 {
    width: 100%;
    height: 35px;
    padding-top: 20px;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item h2 .status, .s-news-wrapper .s-news-list-wrapper .s-news-item h2 a {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item h2 .status {
    height: 16px;
    width: 16px;
    font-size: 0;
    margin-right: 5px;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item h2 .prefix-0 {
    background: url(../images/news.png) -20px -100px no-repeat;
    _background: url(../images/news.png) -20px -100px no-repeat;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item h2 a {
    color: #333;
    font-weight: bold;
    line-height: 22px;
}

.s-yahei {
    font-family: arial, 'Microsoft Yahei', '微软雅黑';
}

.s-news-wrapper .s-news-list-wrapper .s-news-item .interact i, .s-news-wrapper .s-news-list-wrapper .s-news-item .del {
	display: inline-block;
    width: 13px;
    height: 13px;
    _zoom: 1;
    vertical-align: middle;
    background: url(../images/news.png) -1px -1px no-repeat;
    _background: url(../images/news.png) -1px -1px no-repeat;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item-tpl-1 .s-news-content-imgs {
    padding: 0 0 16px 0;
    margin-left: -5px;
}

.s-news-wrapper .s-news-list-wrapper .item-img-wrap {
    display: inline-block;
    zoom: 1;
    height: 106px;
    width: 176px;
    overflow: hidden;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item-tpl-2 .from {
    margin-top: -12px;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item .from {
    color: rgba(0,0,0,0.5);
    color: #999\9;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item .from .src-net {
    margin-right: 10px;
}

.s-news-wrapper .s-news-list-wrapper .src-net a, .s-news-wrapper .s-news-list-wrapper .src-net a:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    color: #999\9;
}

.s-news-wrapper .s-news-list-wrapper .s-news-item {
    border-top: 1px solid #f0f0f0;
    position: relative;
}


/*导航模块显示区样式*/

.s-xmancard-nav {
    position: relative;
    padding: 10px 0 13px 25px;
}

.s-xmancard {
    min-height: 318px;
    _height: 318px;
}

.s-nav-wrapper {
    margin: 0 auto;
}

.s-nav-wrapper h1 {
    font-size: 14px;
    text-align: left;
    margin: 0 0 5px 11px;
    padding-top: 25px;
}

.s-nav-wrapper .nav-item {
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 15px;
    margin-top: 15px;
    _margin-right: 12px;
    position: relative;
}

.s-nav-wrapper .nav-item .nav-block {
    position: relative;
    display: block;
    height: 65px;
    line-height: 65px;
    width: 126px;
    background-color: #fcfcfc;
}

.s-nav-wrapper .nav-block {
    border: 1px solid #fcfcfc;
}

.s-nav-wrapper .nav-block:hover {
	border: 1px solid #DCDADA;
}

.s-nav-wrapper .nav-item a img {
    position: absolute;
    left: 5px;
    top: -2px;
}

.s-nav-personal .nav-item a img {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 16px;
}

.s-nav-wrapper .nav-item .nav-txt {
    font-size: 13px;
    color: #333;
    padding-left: 38px;
}

.s-nav-personal .nav-item .nav-txt {
    position: absolute;
    text-align: left;
    left: 44px;
    color: #333;
    font-size: 14px;
    padding: 0;
    max-width: 71px;
    _width: 71px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

/*视频模块显示区样式*/

.s-xmancard-video {
    padding: 0 0 0 5px;
    -webkit-transform: transition3d(0, 0, 0);
    -moz-transform: transition3d(0, 0, 0);
    -o-transform: transition3d(0, 0, 0);
    -ms-transform: transition3d(0, 0, 0);
    transform: transition3d(0, 0, 0);
}

.s-xmancard-video .video-col {
    float: left;
    margin-left: 20px;
    width: 195px;
    height: 320px;
    margin-bottom: 25px;
    margin-top: 25px;
    _display: inline;
    overflow: hidden;
}

.video-col .item-wrapper {
    position: relative;
}

.video-item {
    width: 195px;
    text-align: left;
}

.s-xmancard-video .video-col .v-pic {
    position: relative;
    overflow: hidden;
}

.s-xmancard-video .nointerest {
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url(../images/nointerest.png);
    _background-image: url(../images/nointerest.png);
    z-index: 11;
    display: none;
}

.s-video-wrapper .buzz {
    -webkit-animation-name: video-buzz-out;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-name: video-buzz-out;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}




.s-xmancard-video .video-col .video-item .v-pic-1 {
    width: 195px;
    height: 270px;
}

.s-xmancard-video .v-pic-1 .nointerest {
    left: 66px;
    top: 102px;
}

.s-video-wrapper .item-wrapper .dustbin {
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(../images/vicon.png) no-repeat;
    _background: url(../images/vicon.png) no-repeat;
    background-position: -48px -2px;
    width: 18px;
    height: 18px;
    z-index: 1;
    display: none;
}

.s-xmancard-video .video-col .video-item .v-pic a {
    cursor: pointer;
    text-decoration: none;
}

.s-xmancard-video .black {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #000;
    opacity: .4;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}

.s-xmancard-video .video-col .video-item .v-pic .bg {
    position: absolute;
    height: 40px;
    width: 195px;
    left: 0;
    bottom: 3px;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
    cursor: pointer;
    overflow: hidden;
}

.s-xmancard-video .video-col .v-pic .v-tag {
    z-index: 3;
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.s-xmancard-video .item-wrapper .tag-sort {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 42px;
    width: 42px;
    cursor: pointer;
    z-index: 3;
    display: block;
}

.s-xmancard-video .video-col .video-item .v-pic .tag-sort3 {
    background-image: url(../images/video_corne.png);
    background-position: -84px 0;
}

.s-xmancard-video .video-col .video-item-1 .v-txt {
    height: 49px;
    width: 175px;
    overflow: hidden;
    padding: 0 9px;
}

.s-xmancard-video .video-col .video-item .v-txt {
    display: inline-block;
    text-decoration: none;
    zoom: 1;
    background: #F5F5F5;
    border: 1px solid #F1F1F1;
    border-top: none;
}

.s-xmancard-video .video-col .video-item-1 .v-txt .text {
    display: block;
    height: 14px;
    margin-top: 6px;
    _margin-top: 9px;
}

.s-xmancard-video .video-col .video-item .v-txt .text {
    font-size: 14px;
    color: #333;
    display: inline-block;
    text-align: left;
    max-width: 195px;
    _width: 175px;
    text-decoration: none;
}

.s-xmancard-video .video-col .video-item .v-txt .text a {
    font-size: 14px;
    color: #333;
    max-width: 195px;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.s-xmancard-video .video-col .video-item-1 .v-txt .score {
    font-size: 13px;
    color: #999;
    margin-top: 6px;
    _margin-top: 1px;
}

.s-xmancard-video .video-col .video-item-1 .v-txt .score .score-star {
    display: inline-block;
    background-repeat: repeat-x;
    height: 13px;
    width: 65px;
    background-image: url(../images/star.png);
    _background-image: url(../images/star.png);
    background-repeat: repeat-x;
    vertical-align: middle;
    margin-bottom: 4px;
    position: relative;
    margin-right: 5px;
}

.s-xmancard-video .video-col .video-item-1 .v-txt .score .score-star .star-active {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 13px;
    width: 13px;
    background-image: url(../images/star.png);
    _background-image: url(../images/star.png);
    background-repeat: repeat-x;
    background-position: 0 -13px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.s-xmancard-video .video-col .video-item .v-pic .tag-sort2 {
    background-image: url(../images/video_corne.png);
    background-position: -42px 0;
}

.s-xmancard-video .video-col .video-item-2 {
    height: 150px;
    margin-bottom: 20px;
    _margin-bottom: 18px;
}

.s-xmancard-video .video-col .video-item-2 .v-txt {
    padding-top: 5px;
    line-height: 20px;
    height: 44px;
    width: 179px;
    _width: 179px;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: -3px;
}

.video-col-line {
    width: 840px;
    height: 0;
    border-top: 1px solid #F0F0F0;
    float: left;
    margin-left: 20px;
    _font-size: 0;
}

/*购物模块显示区样式*/
.s-xmancard-shopping {
    position: relative;
    padding: 4px 0 14px 14px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item {
    float: left;
    width: 195px;
    height: 265px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 21px;
    _display: inline;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item:first-child {
    margin-left: 11px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-card-imgwrapper {
    position: relative;
    width: 195px;
    height: 265px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .img {
    display: inline-block;
    text-decoration: none;
    width: 195px;
    height: 265px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item img {
    width: 195px;
    height: 265px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-card-imgwrapper .mask {
    display: block;
    position: absolute;
    bottom: 11px;
    left: 10px;
    height: 30px;
    overflow: hidden;
    width: 175px;
    line-height: 30px;
    font-size: 14px;
    color: #000;
    text-align: center;
    background: none !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .95)), to(rgba(255, 255, 255, .95))) !important;
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .95) 0, rgba(255, 255, 255, .95) 100%) !important;
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .95) 0, rgba(255, 255, 255, .95) 100%) !important;
    background-image: -o-linear-gradient(rgba(255, 255, 255, .95) 0, rgba(255, 255, 255, .95) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9ffffff, endColorstr=#d9ffffff) !important;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-card-imgwrapper .mask.top {
    bottom: 42px;
    height: 34px;
    line-height: 34px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-card-imgwrapper .mask .bsTitle {
    text-decoration: none;
    margin-left: 10px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-card-imgwrapper .mask .percentdesc {
    color: #fe673d;
    margin-left: 5px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-card-imgwrapper .cover {
    position: absolute;
    width: 4px;
    height: 1px;
    bottom: 41px;
    left: 10px;
    background: none !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .95)), to(rgba(255, 255, 255, .95))) !important;
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .95) 0, rgba(255, 255, 255, .95) 100%) !important;
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .95) 0, rgba(255, 255, 255, .95) 100%) !important;
    background-image: -o-linear-gradient(rgba(255, 255, 255, .95) 0, rgba(255, 255, 255, .95) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9ffffff, endColorstr=#d9ffffff) !important;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-card-imgwrapper .cover.right {
    left: 181px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsword {
    height: 82px;
    border-bottom: 1px solid #f0f0f0;
    text-align: left;
    text-decoration: none;
    display: block;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsword p {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsword span {
    display: inline-block;
    font-size: 14px;
    color: #808080;
    margin: 6px 0 11px;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsword .buttondesc {
    font-size: 12px;
    color: #0771fb;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsmall {
    text-align: left;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsmall p {
    font-size: 14px;
    color: #000;
    margin: 15px 0 0;
    font-weight: bold;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsmall ul {
    list-style: disc;
    position: relative;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsmall ul li {
    display: inline-block;
    margin: 14px 0 0;
    color: #666;
    width: 97.5px;
    font-size: 14px;
    list-style: square;
    vertical-align: top;
    float: left;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsmall ul li a {
    color: #666;
}

.s-xmancard-shopping .shopping-card-wrapper .shopping-card-item .shopping-bsmall ul li .last {
    font-size: 12px;
    color: #0771fb;
}




/*回到顶部样式*/

.s-mancacrd-main .top-feed {
	width: 51px;
	position: fixed;
	left: 50%;
	bottom: 30px;
	margin-left: 447px;
}

.s-mancacrd-main .top-feed .to-top {
    height: 26px;
    margin: 0 0 6px 10px;
    position: relative;
    width: 38px;
    padding-top: 12px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    cursor: pointer;
}

.s-mancacrd-main .top-feed .to-top.icon-over .icon {
    display: none;
}

.s-mancacrd-main .top-feed .to-top.icon-over .icon-mask {
	display: block;
}

.s-mancacrd-main .top-feed .icon-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    line-height: 38px;
    width: 38px;
    z-index: 3;
    font-size: 13px;
    background-color: #eee;
    color: #999;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #e3e3e3;
}

.s-mancacrd-main .icon-mask .text {
    position: absolute;
    top: 4px;
    left: 4px;
    line-height: 16px;
    width: 30px;
}


.s-mancacrd-main .top-feed .to-top span {
	display: block;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(../images/topfed.png) no-repeat -1px -10px;
    _background: url(../images/topfed.png) no-repeat -1px -10px;
}

/*版权部分样式*/
.s-bottom-ctner {
    width: 100%;
    color: #999;
    z-index: 3;
    position: absolute;
    left: 0;
    bottom: 12px;
    overflow: hidden;
    zoom: 1;
    margin: 0;
}

#bottom_container .no-qrcode-layer .lh {
    display: inline;
}

.s-bottom-ctner a {
    font-size: 12px;
    text-decoration: underline;
    color: #999;
}

.recordcode {
    padding-top: 6px;
    height: 16px;
    line-height: 16px;
}

.recordcode a i {
	display: inline-block;
	width: 14px;
	height: 16px;
	margin-right: 6px;
	background: url(../images/icon-police.png?__sprite) no-repeat 0 0;
	vertical-align: middle;
	margin-top: -4px;
}

.recordcode a {
    text-decoration: none;
}

/*换肤下拉模块样式*/
.s-skin-layer {
    position: fixed;
    _position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    height: 288px;
    background: #fff;
    z-index: 1113;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .07);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .07);
}

.s-skin-layer .s-skin-border {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    height: 240px;
    z-index: -1;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    _width: 1000px;
    _left: 50%;
    _margin-left: 500px;
}

.s-skin-layer .s-skin-layer-cell {
    width: 911px;
    overflow: hidden;
    margin: 0 auto;
}

.s-skin-layer .s-skin-header {
    height: 46px;
}

.s-skin-layer .s-skin-nav {
    height: 46px;
    float: left;
}

div.s-skin-layer .skin-nav, .s-skin-layer .nav-vertial {
    padding: 0 8px !important;
}

.s-skin-layer .choose-nav {
    background: #389cff;
}

.s-skin-layer .skin-nav:hover {
    background: #389cff;
}

@keyframes background {
    0% {
        background: #fff;
    }
    100% {
        background: #389cff;
    }
}

@-webkitkeyframes background {
    0% {
        background: #fff;
    }
    100% {
        background: #389cff;
    }
}

@-moz-keyframes background {
    0% {
        background: #fff;
    }
    100% {
        background: #389cff;
    }
}

@-o-keyframes background {
    0% {
        background: #fff;
    }
    100% {
        background: #389cff;
    }
}

.s-skin-layer .skin-nav, .s-skin-layer .nav-vertial {
    cursor: pointer;
    height: 46px;
    padding: 0 10px;
    font-size: 13px;
    float: left;
    transition: background 500ms;
    -moz-transition: background 500ms;
    -o-transition: background 500ms;
    -webkit-transition: background 500ms;
}

.s-skin-layer .skin-nav .skinnav-nav-name {
    color: #666;
}

.s-skin-layer .skin-nav:hover .skinnav-nav-name, 
.s-skin-layer .choose-nav .skinnav-nav-name {
    color: #fff;
}

.s-skin-layer .s-skin-nav .skinnav-nav-name {
    display: inline-block;
    margin-top: 19px;
}

.s-skin-layer .nav-vertial-border {
    margin-top: 20px;
    height: 15px;
    width: 1px;
    overflow: hidden;
    background: #dedede;
    zoom: 1;
}

.s-skin-layer .s-skin-setting {
    float: right;
    margin-top: 19px;
}

.s-skin-opacity-set {
    color: #666;
    float: left;
    width: 160px;
}

.s-skin-opacity-set .bg-hideOrShowAjax {
    display: block;
    width: 100%;
}

.s-skin-opacity-set .bg-alphaBarTitle {
    font-size: 13px;
    margin-right: 10px;
}

.s-skin-opacity-set .bg-alphaBar, .s-skin-opacity-set .bg-alphaBarMoveBtn {
    display: inline-block;
}

.s-skin-opacity-set .bg-alphaBar {
    position: relative;
    width: 74px;
    height: 4px;
    border-top: 1px solid #e1e1e1;
    background: #f2f2f2;
    font-size: 0;
    cursor: pointer;
    line-height: 16px;
}

.s-skin-opacity-set .bg-alphaBarMoveBtn {
    position: absolute;
    top: -6px;
    width: 12px;
    height: 12px;
    border-top: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
    cursor: pointer;
}

.s-skin-opacity-set .bg-alphaBarOpacity {
    font-size: 11px;
    display: block;
    width: 28px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    position: absolute;
    top: -16px;
    left: -8px;
    color: #666;
    cursor: default;
}

.s-skin-layer .s-skin-set {
    cursor: pointer;
    float: left;
    margin-left: 30px;
    width: 87px;
}

.s-skin-layer .s-skin-set span {
    display: inline-block;
    font-size: 13px;
    color: #666;
    vertical-align: middle;
}

.s-skin-layer .skin-has-bg .skinset-hasBg {
    background-position: -24px -176px;
    width: 14px;
    height: 13px;
}

.s-skin-layer .skin-bg-icon {
    font-size: 13px;
    background: url('../images/skin_icon.png') no-repeat -1000px -1000px;
}

.s-skin-layer .s-skin-set .skinset-title {
    color: #666;
    margin-left: 3px;
}

.s-skin-layer .s-skin-up {
    cursor: pointer;
    float: left;
    width: 40px;
    margin-left: 25px;
    color: #0079f5;
    font-size: 0px;
}

.s-skin-layer .s-skin-up .bg {
    margin-right: 2px;
    background: url('../images/skin_icon.png') no-repeat -44px -175px;
    width: 11px;
    height: 15px;
}

.s-skin-layer .s-skin-up span {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}

.s-skin-layer .s-skin-photo-body {
    padding-top: 25px;
    height: 215px;
    position: relative;
}

.s-skin-layer .s-skin-preview {
    float: right;
    width: 294px;
}

.s-skin-layer .preview-view {
    position: relative;
    float: right;
    width: 264px;
    height: 180px;
    overflow: hidden;
}

.s-skin-layer .preview-view-container {
    position: absolute;
    top: 15px;
    left: 2px;
    width: 260px;
    height: 163px;
    overflow: hidden;
}

.s-skin-layer .preview-pageUI {
    position: absolute;
    top: 0;
    right: 0;
    width: 264px;
    height: 180px;
    background: url('../images/skin_preview.png') no-repeat -1000px -1000px;
}

.s-skin-layer .preview-nobg img {
    display: none;
}

.s-skin-layer .preview-nobg .preview-pageUI {
    background-position: -275px 0;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://su.bdimg.com/static/superman/img/skin/skin_preview_nobg_ie6_ef8f408f.png", enabled="true",sizingMethod="crop");
}

.s-skin-layer .preview-whitelogo .preview-pageUI {
    background-position: 0 0;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://su.bdimg.com/static/superman/img/skin/skin_preview_hasbg_whitelogo_ie6_828f1ad0.png", enabled="true",sizingMethod="crop");
}

.s-skin-layer .preview-title {
    float: right;
    margin-right: 0;
    margin-top: 7px;
    text-align: center;
    width: 262px;
    font-size: 12px;
    color: #666;
}

.s-skin-layer .s-skin-border-content {
    float: left;
    width: 587px;
    height: 179px;
}

.s-skin-layer .s-skin-content {
    position: relative;
}

.s-skin-layer .s-skin-border-content li {
    /*display: none;*/
    height: 186px;
    overflow: hidden;
}

.s-skin-layer .s-skin-border-content .skin-img-item {
    position: absolute;
    cursor: pointer;
    height: 59px;
    width: 97px;
}

.s-skin-layer .skin-img-item img, .s-skin-layer .skin-img-item .skin-img-item-writer, .s-skin-layer .skin-img-item .skin-img-shadow {
    width: 97px;
    height: 59px;
    line-height: 59px;
}

.s-skin-layer .s-skin-border-content .big-img-li {
    width: 195px;
    height: 119px;
}

.s-skin-layer .big-img-li img, .s-skin-layer .big-img-li .skin-img-item-writer, .s-skin-layer .big-img-li .skin-img-shadow {
    width: 195px;
    height: 119px;
    line-height: 119px;
}

.s-skin-layer .skin-img-item .skin-img-item-choose {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 18px;
    height: 18px;
    background-position: -180px 0;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://su.bdimg.com/static/superman/img/skin/skin_chooseicon_ie6_1d7b7d99.png", enabled="true",sizingMethod="crop");
    display: none;
}

.s-skin-layer .skin-bg-png24-icon {
    background: url('../images/skin_icon_png.png') no-repeat -1000px -1000px;
}

.s-skin-layer .choose-li .skin-img-item-choose {
    display: block;
}

.s-skin-layer .pos-0 {
    top: 0;
    left: 0;
}

.s-skin-layer .pos-1 {
    top: 120px;
    left: 0;
}

.s-skin-layer .pos-2 {
    top: 120px;
    left: 98px;
}

.s-skin-layer .pos-3 {
    top: 0;
    left: 196px;
}

.s-skin-layer .pos-4 {
    top: 60px;
    left: 196px;
}

.s-skin-layer .pos-5 {
    top: 120px;
    left: 196px;
}

.s-skin-layer .pos-6 {
    top: 0;
    left: 294px;
}

.s-skin-layer .pos-7 {
    top: 0;
    left: 392px;
}

.s-skin-layer .pos-8 {
    top: 60px;
    left: 294px;
}

.s-skin-layer .pos-9 {
    top: 0;
    left: 490px;
}

.s-skin-layer .pos-10 {
    top: 60px;
    left: 490px;
}

.s-skin-layer .pos-11 {
    top: 120px;
    left: 490px;
}

.s-skin-layer .s-skin-page {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 587px;
    height: 33px;
}

ul.s-skin-page-cell {
    font-size: 0px;
}

.s-skin-layer .s-skin-page li {
    display: inline-block;
    cursor: pointer;
}

.s-skin-layer .page-pre {
    margin-right: 18px;
}

.s-skin-layer .skin-page-dire, .s-skin-layer .skin-page-dire div {
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.s-skin-layer .skin-page-number {
    width: 15px;
    height: 25px;
    background-position: -11px -12px;
}

.s-skin-layer .page-pre div {
    background-position: 8px -55px;
}

.s-skin-layer .skin-page-number.choose-page-btn {
    background-position: 4px -12px;
}

.s-skin-layer .skin-page-number {
    width: 15px;
    height: 25px;
    background-position: -11px -12px;
}

.s-skin-layer .page-next {
    margin-left: 18px;
}

.s-skin-layer .page-next div {
    background-position: 9px -32px;
}

/*天气显示区样式*/
.s-upfunc-menus {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 32px;
    padding-right: 15px;
}

.s-weather-wrapper {
    float: left;
    height: 34px;
}

.s-mod-weather {
    margin: 7px 0 0 15px;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    _margin: 6px 0 0 7px;
}

.s-mod-weather .weather-mod {
    height: auto;
}

.s-mod-weather a {
    outline: none;
    text-decoration: none;
}

.city-weather {
    display: block;
    cursor: pointer;
    height: 20px;
    white-space: nowrap;
    _text-align: left;
    _display: inline;
    font-size: 0px;
}

.s-mod-weather .show-weather, .s-mod-weather .show-pollution {
    display: inline-block;
    height: 20px;
    font-size: 0px;
}

.s-mod-weather a, .s-mod-weather em, .s-mod-weather span {
    color: #adacac;
}

.show-pollution {
    vertical-align: bottom;
}

.s-mod-weather .show-weather, .s-mod-weather .show-pollution {
    display: inline-block;
    height: 20px;
}

.s-mod-weather .unknown-text, .unknown-city, .city-wather a, .city-wather em, .city-wather span, .show-pollution a, .show-pollution em, .show-pollution span {
    color: #555;
}

.s-skin-hasbg .city-wather em {
    color: #fff;
}

.s-mod-weather .show-weather img, .s-mod-weather .show-weather em, .s-mod-weather .show-pollution em {
    vertical-align: top;
}

.s-mod-weather .show-icon {
    margin-right: 9px;
    font-size: 0px;
}

.s-mod-weather span {
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
    font-size: 12px;
}

.s-mod-weather .show-icon .weather-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.show-icon-temp {
    font-size: 12px;
}

.s-mod-weather .polution-level-20 .show-polution-name {
    color: #fea700;
    font-weight: bold;
}

.s-mod-weather .show-pollution em {
    margin-right: 7px;
}

.s-mod-weather .show-vertical {
    margin-right: 11px;
}

.s-upfunc-menus .s-icons {
    float: left;
    _display: inline;
}

.s-upfunc-menus .s-icons a {
    position: relative;
    height: 32px;
    line-height: 32px;
    margin-right: 19px;
    color: #555;
    text-decoration: underline;
    outline: none;
    display: inline-block;
    text-shadow: none;
}

/*背景皮肤样式*/
.s-skin-container {
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    z-index: -10;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
}

.s-skin-hasbg {
    background: none;
    _zoom: 1;
}

.s-skin-hasbg #s_top_wrap {
    border: none;
    background: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(15,25,50,.3)),to(rgba(15,25,50,.3)));
    background-image: -moz-linear-gradient(rgba(15,25,50,.3) 0,rgba(15,25,50,.3) 100%);
    background-image: -ms-linear-gradient(rgba(15,25,50,.3) 0,rgba(15,25,50,.3) 100%);
    background-image: -o-linear-gradient(rgba(15,25,50,.3) 0,rgba(15,25,50,.3) 100%);
    background-image: linear-gradient(rgba(15,25,50,.3) 0,rgba(15,25,50,.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#330f1932,endColorstr=#330f1932);
}

.s-skin-hasbg .s-sp-menu a, .s-skin-hasbg #nv a, .s-skin-hasbg #nv b, .s-skin-hasbg #lm, .s-skin-hasbg #lm a {
    color: #fff;
}

.s-skin-hasbg .s-upfunc-menus .s-icons a {
    color: #fff;
}

.s-skin-hasbg .city-wather em {
    color: #fff;
}

.s-skin-hasbg .s-mod-weather .unknown-text,
.s-skin-hasbg .unknown-city,
.s-skin-hasbg .city-wather a,
.s-skin-hasbg .city-wather em,
.s-skin-hasbg .city-wather .show-vertical,
.s-skin-hasbg .show-pollution a,
.s-skin-hasbg .show-pollution em,
.s-skin-hasbg .show-pollution span
 {
    color: #fff;
}



.s-skin-hasbg .btn, .s-skin-hasbg .btn_wr {
    background-image: url(../images/skin_dark.png);
}

.s-skin-hasbg .btn {
    background-position: -206px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    width: 104px;
    height: 40px;
    line-height: 40px;
    line-height: 37px\9;
    padding: 0;
    border: none;
    /*background-position: -464px -42px;*/
    cursor: pointer;
    color: #000;
    font-size: 16px;
}

.s-skin-hasbg .btn_wr {
    background-position: -287px -41px;
    width: 104px;
    height: 40px;
    border: 0;
}

.s-skin-hasbg #kw {
    padding: 10px 9px 10px 7px;
    border: 0;
    background-image: none;
    height: 20px;
    line-height: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.s-skin-hasbg .s-ctner-menus .s-menus-outer .s-bg-space {
    height: 39px;
}

.s-skin-hasbg .s-ctner-menus .current {
    border: none;
    border-top: none;
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
}

.s-skin-hasbg .s-ctner-menus, #s_menu_gurd.s-down .s-ctner-menus {
    height: 39px;
    line-height: 40px;
    width: 893px;
    border: none;
    width: 895px;
}


.s-skin-hasbg .s-ctner-menus {
    color: #333;
    border-bottom: 1px solid #e9e9e9;
    _background: #fff;
    z-index: 1111111111;
}

.s-skin-hasbg .s-ctner-menus .s-menus-outer {
    width: 721px;
}



.s-ctner-menus .s-menu-item:hover {
    background-color: #BCBCBC;
    margin-bottom: -1px;
    margin-top: -1px;
    border-top: 1px solid #BCBCBC;
    border-bottom: 1px solid #BCBCBC;
    color: #fff;
    background-image: none !important;
    filter: none !important;
}

.s-skin-hasbg #s_menus_wrapper .s-menu-item:hover {
    border: none;
    color: #333;
    margin-bottom: 0px;
    margin-top: 0px;
}

.s-skin-hasbg .s-mancacrd-main .top-feed .icon-qrcode, .s-skin-hasbg .top-feed .to-top {
    background: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.3)),to(rgba(0,0,0,0.3)));
    background-image: -moz-linear-gradient(rgba(0,0,0,0.3) 0, rgba(0,0,0,0.3) 100%);
    background-image: -ms-linear-gradient(rgba(0,0,0,0.3) 0, rgba(0,0,0,0.3) 100%);
    background-image: -o-linear-gradient(rgba(0,0,0,0.3) 0, rgba(0,0,0,0.3) 100%);
    background-image: linear-gradient(rgba(0,0,0,0.3) 0, rgba(0,0,0,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000, endColorstr=#4c000000);
    width: 40px;
    border: 0;
}

.s-skin-hasbg .s-mancacrd-main .top-feed .icon-mask {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 0;
    color: #fff;
    background: none;
}

.s-skin-hasbg .s-mancacrd-main .icon-mask .text {
    left: 5px;
    line-height: 17px;
}

.s-mancacrd-main .top-feed .to-top span {
    display: block;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(../images/topfed.png) no-repeat -1px -10px;
    _background: url(../images/topfed.png) no-repeat -1px -10px;
}

.s-skin-hasbg .s-bottom-ctner, .s-skin-hasbg .s-bottom-ctner a {
    color: #FFF;
}
/*账号滑过显示菜单样式*/
.s-skin-hasbg #u_sp #s_user_name_menu a{
    color: #000
}

.s-skin-hasbg #u_sp #s_user_setting_menu a{
    color: #000
}
/*设置滑过显示菜单样式*/
.s-skin-setting .s-skin-set.ishover span {
    color: #389cff;
}

.s-skin-layer .s-skin-set.ishover .skinset-hasBg {
    background-position: -24px -192px;
}


/*"更多产品侧边导航自定义滚动条"*/
#u_sp .s_bdbriscroll-ctrl-scroll {
    position: absolute;
    top: 10px;
    right: 1px;
    width: 8px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#u_sp .s_bdbriscroll-ctrl-scroll .s_bdbriscroll-axis {
    width: 8px;
    left: 0;
    z-index: 0;
    position: absolute;
    background: #f2f2f2;
}

#u_sp .s_bdbriscroll-ctrl-scroll .s_bdbriscroll-slider {
    overflow: hidden;
    width: 7px;
    height: 14px;
    position: absolute;
    left: 0;
    z-index: 10;
    display: none;
    background: #d9d9d9;
    margin-top: -1px;
    margin-left: -1px;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    cursor: default;
}

.s_bdbriwrapper {
    position: relative;
}

.s-nav-personal h1 {
    margin: 8px 0 4px;
    padding: 0;
}

.s-nav-personal .nav-item .nav-block {
    height: 58px;
    line-height: 58px;
    width: 126px;
}

.show-icon .weather-icon{
    background-image:url(images/a0_night.png);
    *background-image:none;
    *filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/a0_night.png, enabled=true,sizingMethod=" ");
}
