* {
    margin: 0;
    padding: 0;
}


/*设置容器大小及字体等*/

#container {
    width: 1884px;
    margin: 0 auto;
    font-family: "微软雅黑", arial;
    font-size: 14px;
}

#header {
    width: 100%;
}


/*下面是顶部样式*/

#top-info {
    width: 100%;
    height: 50px;
    background: #f65a5b;
    color: #fff;
    font-size: 14px;
}

#top-info-con {
    width: 1020px;
    margin: 0 auto;
}

#info-con1,
#info-con2,
#info-con3 {
    height: 50px;
    float: left;
}

#info-con2 {
    margin: 0 340px;
}

#info-con1 span {
    display: block;
    float: left;
    padding: 0 13px;
    margin: 18px 0 17px 0;
}

#info-con1 span:nth-child(1) {
    border-right: 1px solid #fff;
}

#info-con2 span:nth-child(1) {
    display: inline-block;
    width: 38px;
    height: 45px;
    margin-top: 3px;
    background: url(images/top.png) no-repeat -6px -478px;
    vertical-align: middle;
}

#info-con2 span:nth-child(2) {
    position: relative;
    left: -4px;
    top: 4px;
}

#info-con3 a {
    display: inline-block;
    width: 40px;
    height: 50px;
    background: #fff url(images/top.png) no-repeat -82px -467px;
}

#info-con3 span:nth-child(2) {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(images/top.png) no-repeat -50px -478px;
    position: relative;
    top: -8px;
}

#info-con3 span:nth-child(3) {
    position: relative;
    top: -17px;
}


/*横幅样式设置*/

#banner {
    width: 100%;
    height: 950px;
    background: url(images/banner-bg.jpg) no-repeat 0 -300px;
}


/*设置导航条样式*/

#banner ul {
    width: 1145px;
    height: 60px;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    font-size: 1.3rem;
}

#banner ul li {
    width: 190px;
    height: 60px;
    float: left;
    border-right: 1px solid #fff;
    margin: 0;
    padding: 0;
}

#banner ul li:nth-child(6) {
    border: none;
}

#banner ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    vertical-align: middle;
    color: #000;
}


/*下面是logo，收藏，建议等部分的样式*/

#logo span {
    display: block;
    text-align: center;
    margin: auto;
}

#logo span:nth-child(1) {
    width: 130px;
    height: 130px;
    background: url(images/top.png) no-repeat -8px -8px;
    margin-top: 60px;
}

#logo span:nth-child(2) {
    font-size: 3rem;
    color: #f65a5b;
    font-weight: 500;
}

#logo span:nth-child(3) {
    font-size: 3rem;
    color: #fff;
    margin: 17px 0 50px;
}

#logo span:nth-child(4) {
    font-size: 1.3rem;
    color: #fff;
    width: 184px;
    height: 44px;
    background: #f65a5b;
    line-height: 44px;
    vertical-align: middle;
}


/*下面是单个半透面块介绍区*/

#intro {
    text-align: center;
}

.block {
    display: inline-block;
    width: 350px;
    margin: 120px 15px 0;
}

.block div {
    width: 350px;
    height: 178px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.5);
}

.block p {
    width: 300px;
    margin: auto;
    text-align: left;
    text-indent: 2rem;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5rem;
    margin-top: 15px;
}

.block div span {
    display: inline-block;
    width: 102px;
    height: 102px;
    margin: 35px auto 0;
}

.block:nth-child(1) div span {
    background: url(images/top.png) no-repeat -8px -146px;
}

.block:nth-child(2) div span {
    background: url(images/top.png) no-repeat -8px -367px;
}

.block:nth-child(3) div span {
    background: url(images/top.png) no-repeat -8px -256px;
}

.block div b {
    display: block;
    font-size: 1.2rem;
    color: #000;
}


/*下面是中部内容区样式*/

#content {
    width: 100%;
}

#content h4 {
    margin: 20px;
    color: #f65a5b;
    text-align: center;
    font-size: 1.5rem;
}

.gap-line {
    display: block;
    width: 195px;
    border: 1px solid #000;
    margin: 20px auto 40px;
}


/*这是内容区第一部分样式*/

#section1-wor {
    width: 854px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2rem;
    text-indent: 2.4rem;
}

#pic-word {
    width: 1124px;
    height: 580px;
    margin: 0 auto 80px;
    color: #fff;
}

#pic-word div {
    width: 340px;
    height: 260px;
    float: left;
    overflow: hidden;
    margin: 15px 15px;
}

.foodword {
    font-size: 1rem;
    line-height: 2rem;
    text-indent: 2rem;
    background-color: #204056;
}

#pic-word div h5 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 20px auto;
}

#pic-word div p {
    margin: 0 25px;
}

#pic-word div p:nth-child(3) {
    font-size: 1.7rem;
    text-align: right;
}

#pic-word div p:nth-child(3) span {
    font-size: .8rem;
    text-decoration: line-through;
}


/*这是内容区第二部分样式*/

.section2 {
    clear: both;
    background: #6a737b;
}

.section2 div {
    width: 1100px;
    margin: 0 auto;
    padding: 100px 0;
}

.section2 img {
    width: 448px;
    height: 396px;
    text-align: left;
}

#section2-word {
    width: 600px;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 20px;
    color: #fff;
    font-size: 1rem;
    line-height: 2rem;
    text-indent: 2rem;
}


/*这是内容区第3部分*/

.section3 {
    clear: both;
    height: 460px;
    margin-bottom: 80px;
}

#section3-sub {
    width: 1146px;
    margin: 0 auto;
}

.section3-pic {
    width: 252px;
    text-indent: 2rem;
    line-height: 1.7rem;
    font-size: .9rem;
    float: left;
    padding: 16px;
    border: 2px solid #e8e8e8;
    border-left: none;
}

.section3-pic:nth-child(1) {
    border-left: 2px solid #e8e8e8;
}

.section3-pic div {
    width: 252px;
    height: 215px;
}

.section3-pic:nth-child(1) div {
    background: url(images/pic5.jpg) no-repeat;
}

.section3-pic:nth-child(2) div {
    background: url(images/pic6.jpg) no-repeat;
}

.section3-pic:nth-child(3) div {
    background: url(images/pic7.jpg) no-repeat;
}

.section3-pic:nth-child(4) div {
    background: url(images/pic8.jpg) no-repeat;
}

.section3-pic b {
    color: #f65a65;
}


/*下面是页脚内容样式*/

#footer {
    clear: both;
}


/*这是底部友情链接样式*/

#footer-before {
    width: 100%;
    background: #6a737b;
}

#footer-before table {
    padding: 50px 0;
    margin: 80px auto 0;
}

#footer-before table th,
#footer-before table tr {
    width: 200px;
    height: 30px;
    text-align: left;
}

#footer-before table th {
    color: #f65a5b;
    font-size: 1.2rem;
    font-weight: 400;
}

#footer-before table tr {
    color: #fff;
    font-size: .9rem;
}


/*这是版权样式*/

#copyright {
    width: 100%;
    height: 60px;
    background: #f65a65;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: .9rem;
    position: relative;
}

#copyright i {
    display: block;
    width: 254px;
    height: 36px;
    background: url(images/icon.png);
    position: absolute;
    bottom: 12px;
    right: 376px;
}
